{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy form %}
{% block estimate %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <h3>Dealer Parts</h3>
        {{ management_form }}
        {{ dealer_part_formset }}
        <h3>Open Market Parts</h3>
        {{ management_form }}
        {{ openmarket_part_formset }}
        <h3>Contribution Parts</h3>
        {{ management_form }}
        {{ contribution_part_formset }}
        <h3>Other Costs</h3>
        {{ management_form }}
        {{ other_cost_formset }}
        <input type="submit" value="Save">
    </form>
{% endblock %}