{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load crispy_forms_utils %}
{% load i18n %}
{% block title %}
    {% if estimate.report %}
        {{ estimate.report }} | Edit Estimate
    {% else %}
        {{ "Create Estimate" }}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container small">
        <form method="post">
            {% csrf_token %}
            <div>
                {{ form | crispy }}
            </div>
            <div>
                <h4>Dealer Parts</h4>
                <div>
                   {{ dealer_parts | crispy }}
                </div>
            </div>
            <div>
                <h4>Open Market Parts</h4>
                <div>
                    {{ openmarket_parts | crispy }}
                </div>
            </div>
            <div>
                <h4>Contribution Parts</h4>
                <div>
                    {{ contribution_parts | crispy }}
                </div>
            </div>
            <div>
                <h4>Other Costs</h4>
                <div>
                    {{ other_costs | crispy }}
                </div>
            </div>
            <div class="form-actions ">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
{% endblock %}